joblib==1.5.3
lightgbm==4.6.0
matplotlib==3.10.8
mealpy==3.0.2
numpy>=1.26.4
openpyxl==3.1.5
pandas==2.3.3
PuLP==3.3.0
scikit-learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
shap>=0.44.0
xgboost==3.1.2
python>=3.13
streamlit>=1.28.0  



